@{
    ViewData["Title"] = "Registration Page";
}
@using UpdatedLogReg.Models
@model UserObject
<h1>Who Are You?</h1>
<form asp-action="DoesRegister" asp-controller="LogReg" method="POST">
    
    <span asp-validation-for="FirstName"></span>
    <div></div>
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName">
    <div></div>

    <span asp-validation-for="LastName"></span>
    <div></div>
    <label asp-for="LastName"></label>
    <input asp-for="LastName">
    <div></div>
    
    <span asp-validation-for="Email"></span>
    <div></div>
    <label asp-for="Email"></label>
    <input asp-for="Email">
    <div></div>
    
    <span asp-validation-for="Password"></span>
    <div></div>
    <label asp-for="Password"></label>
    <input asp-for="Password">
    <div></div>
    
    <span asp-validation-for="Confirm"></span>
    <div></div>
    <label asp-for="Confirm"></label>
    <input asp-for="Confirm">
    <div></div>

    <input type="Submit" value="Sell Your Soul">
</form>

<a href="/login">Actually, I've already sold my soul.</a>